@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --ifm-spacing-horizontal: 1em;
  --ifm-font-family-base: 'Inter';
  --ifm-gradient: linear-gradient(157deg, rgb(15 255 135 / 1) 0%, rgb(59 195 243) 33%, rgb(217 51 137) 99%, rgba(217, 51, 137, 1) 100%);
  --ifm-navbar-padding-vertical:0;
  --ifm-navbar-padding-horizontal:1rem;
  --ifm-link-hover-decoration:none;
  --ifm-h1-font-size:2rem;
  --ifm-footer-border-color:var(--ifm-color-gray-300);
  --ifm-pagination-border-color:var(--ifm-color-gray-300);
  --ifm-heading-font-weight:600;

  --dark-2000: rgb(0, 2, 6);
  --dark-1950: rgb(3, 5, 9);
  --dark-1900: rgb(6, 8, 12);
  --dark-1850: rgb(9, 11, 15);
  --dark-1800: rgb(12, 14, 18);
  --dark-1750: rgb(15, 17, 21);
  --dark-1700: rgb(18, 20, 25);
  --dark-1650: rgb(21, 23, 28);
  --dark-1600: rgb(24, 26, 31);
  --dark-1550: rgb(27, 29, 36);
  --dark-1500: rgb(30, 32, 39);
  --dark-1450: rgb(32, 34, 41);
  --dark-1400: rgb(35, 37, 44);
  --dark-1375: rgb(37, 39, 46);
  --dark-1350: rgb(39, 41, 48);
  --dark-1300: rgb(41, 43, 50);
  --dark-1250: rgb(44, 46, 53);
  --dark-1200: rgb(47, 49, 56);
  --dark-1150: rgb(50, 52, 59);
  --dark-1100: rgb(54, 56, 63);
  --dark-1050: rgb(58, 60, 67);
  --dark-1000: rgb(63, 65, 72);
  --dark-900: rgb(72, 74, 81);
  --dark-850: rgb(77, 79, 86);
  --dark-800: rgb(81, 83, 90);
  --dark-700: rgb(91, 93, 100);
  --dark-600: rgb(101, 103, 110);
  --dark-500: rgb(118, 120, 127);
  --dark-400: rgb(132, 134, 140);
  --dark-350: rgb(142, 144, 150);
  --dark-300: rgb(152, 154, 160);
  --dark-250: rgb(166, 168, 174);
  --dark-200: rgb(181, 183, 189);
  --dark-150: rgb(203, 205, 211);
  --dark-100: rgb(213, 215, 221);
  --dark-50: rgb(226, 228, 234);
  --dark-0: rgb(239, 241, 247);
}
html[data-theme='dark'] {
  --ifm-background-color: var(--dark-1300);
  --ifm-navbar-shadow:rgba(4, 4, 5, 0.2) 0px 1px 0px, rgba(6, 6, 7, 0.05) 0px 1.5px 0px, rgba(4, 4, 5, 0.05) 0px 2px 0px;
  --ifm-color-primary: #fff;
  --ifm-color-primary-dark: #fe5eab;
  --ifm-color-primary-darker: #ff2c91;
  --ifm-color-primary-darkest: #fb097d;
  --ifm-color-primary-light: #ff9aca;
  --ifm-color-primary-lighter: #ffc3e0;
  --ifm-color-primary-lightest: #ffe7f3;
  --ifm-font-color-base:var(--dark-150);
  --ifm-menu-color-background-active:var(--dark-1000);
  --ifm-menu-color-background-hover:var(--dark-1100);
  --ifm-menu-color:var(--dark-200) !important;
  --ifm-footer-border-color:var(--dark-1500);
  --ifm-footer-background-color:var(--dark-1100);
  --ifm-pagination-border-color:var(--dark-900);
  --ifm-pagination-nav-color-hover:var(--dark-600);
  --ifm-color-content-secondary:var(--dark-300);
  --ifm-color-secondary-contrast-background:var(--dark-1100);
  --ifm-background-surface-color:var(--dark-1200);
}
html[data-theme='dark'] pre {

  background-color:var(--dark-1400) !important;
}

.markdown h1:first-child,
.markdown > h1 {
  --ifm-h1-font-size: 2.25rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--ifm-pagination-border-color);
  font-weight: 500;
}
.markdown > h2 {
  --ifm-h2-font-size: 1.8rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--ifm-pagination-border-color);
  font-weight: 500;
}
.markdown > h3 {
  --ifm-h3-font-size: 1.5rem;
  font-weight: 500;
}
.markdown > h4 {
  --ifm-h4-font-size: 1.25rem;
  font-weight: 500;
}
.markdown > h5 {
  --ifm-h5-font-size: 1rem;
  font-weight: 500;
}
.markdown > hr {
  background-color: var(--ifm-pagination-border-color);
}

html[data-theme='light'] .markdown h2 a {
  color:var(--dark-1700)
}

.markdown h1 svg,
.markdown h2 svg,
.markdown h3 svg,
.markdown h4 svg {
  vertical-align: middle;
}

.markdown h1 img,
.markdown h2 img,
.markdown h3 img,
.markdown h4 img {
  vertical-align: sub;
}

.pagination-nav__link {
  border-color: var(--ifm-pagination-border-color);
}

.navbar__logo {
  height: 2.5rem;
  padding: 0.125rem;
  margin-right: 1rem;
  margin-right: 1rem;
}
.navbar__brand {
  font-size: 1.25rem;
}
.navbar__brand:hover {
  color:var(--ifm-navbar-link-color);
}

html[data-theme='dark'] .navbar {
  background-color: var(--dark-1100);
  text-shadow: 0 1px 0 #000;
  border-top: 1px solid var(--dark-1400);
}

html[data-theme='dark'] .navbar__brand {
  color:var(--dark-50);

}
html[data-theme='dark'] .menu__link {

  text-shadow: 0 1px 0 #000;
}
html[data-theme='dark'] aside {
  background:var(--dark-1200);
}

nav.menu {
  margin: 4px;
  scrollbar-gutter: initial !important;
  padding: 0.5rem !important;
}

.markdown p a,
.markdown li a {
  border:1px solid transparent;
  border-bottom-color:rgb(0, 168, 252);
  transition: all 0.1s ease-in-out;
  margin: 0px 1px;
}

.markdown p a:hover,
.markdown li a:hover{
  text-decoration:none;
  color: rgb(0, 168, 252);
}


/* 

.menu__link--active,
.menu__list-item-collapsible .menu__link--active
{
  font-weight: 500;
}
html[data-theme='dark'] .menu__link--active,
html[data-theme='dark'] .menu__list-item-collapsible .menu__link--active
{
  background: var(--dark-900) !important;
}
html[data-theme='dark'] .menu__link:hover {
  color:var(--dark-300);
}
html[data-theme='dark'] .menu__link--active:hover,
html[data-theme='dark'] .menu__list-item-collapsible .menu__link--active:hover {
  background: var(--dark-900) !important;
  color:var(--dark-100);
}
 */

html[data-theme='dark'] .menu__link:hover:not(.menu__link--active) {
  color:var(--dark-50);
}

.footer {
  border-top:1px solid var(--ifm-footer-border-color);
}

/* tabs */
.navbar_link {
  color:var(--ifm-navbar-link-color);
}
.navbar_link:hover {
  color:var(--ifm-navbar-link-color);
}
html[data-theme='dark'] .gradient-box {
  --tw-border-opacity: 1;
  border-color: var(--dark-1400);
  --tw-bg-opacity: 1;
  background-color: var(--dark-1200);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05), inset 0 1px 0 0 hsla(0,0%,100%,.07), inset 0 0 0 1px hsla(0,0%,100%,.07);
}
.gradient-box {
  position: relative;
  cursor: pointer;
  border-radius: 0.75rem;
  border: 1px solid #e2e8f0;
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  background-color: #fefefe;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-text-decoration-color,-webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 75ms;
}
.gradient-box {
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.04), 0 4px 6px -2px rgba(0,0,0,.03), inset 0 0 0 1px hsla(0,0%,100%,.439);
}
.gradient-box:active {
  --tw-scale-x: .95;
  --tw-scale-y: .95;
  transform: scale(.95);
}
.gradient-box-content{
  position: relative;
  padding:1.5rem;
}
.group:hover .gradient-box-child {
  opacity: 1;
}
html[data-theme='dark'] .gradient-box-child {
  --link-grid-hover-bg: var(--dark-1400);
}
.gradient-box-child {
  display: block;
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: 0.75rem;
  border: 2px solid transparent;
  opacity: 0;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-text-decoration-color,-webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  background: linear-gradient(var(--link-grid-hover-bg,#fff),var(--link-grid-hover-bg,#fff)) padding-box,linear-gradient(to top,#818cf8,#22d3ee,#0ea5e9) border-box;
}

.hero__title {
  text-align: start;
  /*   margin:2rem; */
  border: none !important;
  padding: 0 !important;
}

.navbar-sidebar {
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
  right: 0;
  left: auto;
}
.navbar-sidebar__backdrop {
  backdrop-filter: blur(20px);
}

.navbar__items {
  flex-direction: row-reverse;
  justify-content: space-between;
}
.navbar__brand {
  margin-right: auto;
}

.navbar__toggle {
  margin-right: 0;
}
.navbar-sidebar__close {
  margin-left: 0;
}
.hidden {
  display: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  align-items: stretch;
}

@media (min-width: 1024px) { 
  .cards {
    flex-direction: row;
  }
}

.cards:hover .card {
  background: radial-gradient(
    100rem circle at var(--xPos) var(--yPos),
    rgba(0, 0, 0, 0.4),
    transparent 15%
  );
}

html[data-theme='dark'] .cards:hover .card {
  background: radial-gradient(
    100rem circle at var(--xPos) var(--yPos),
    rgba(255, 255, 255, 0.4),
    transparent 15%
  );
}

.card {
  flex: 1 1 30%;
  height: auto;
  background: radial-gradient(
    150rem circle at 0 0,
    rgba(0, 0, 0, 0),
    transparent 0%
  );
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.15s;
}

html[data-theme='dark'] .card {
  background: radial-gradient(
    150rem circle at 0 0,
    rgba(255, 255, 255, 0),
    transparent 0%
  );
}

.card:hover {
  transform: scale(0.97);
}

.card:hover::before {
  opacity: 1;
}

.card::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  background: radial-gradient(
    60rem circle at var(--xPos) var(--yPos),
    rgba(0, 0, 0, 0.1),
    transparent 35%
  );
  opacity: 0;
  transition: all 0.15s ease-in-out;
}

html[data-theme='dark'] .card::before {
  background: radial-gradient(
    60rem circle at var(--xPos) var(--yPos),
    rgba(255, 255, 255, 0.1),
    transparent 35%
  );
}

.card-content {
  background-color: #fefefe;
  border-radius: inherit;
  transition: all 0.25s;
  height: calc(100% - 0.1rem);
  width: calc(100% - 0.1rem);
  padding: 24px;
}

html[data-theme='dark'] .card-content {
  background-color: var(--dark-1200);
}

.custom-separator {
  width: 100%;
  height: 1px;
  position: relative;
  margin: 128px;
}

.custom-separator:before {
  bottom: 0;
  z-index: 0;
  content: "";
  width: 500px;
  height: 40px;
  position: absolute;
  left: calc(50% - 250px);
  border-bottom: 1px solid;
  border-image-source: linear-gradient(90deg,transparent,rgba(0,0,0,.5) 50%,transparent);
  border-image-slice: 1;
  background: radial-gradient(50% 100% at 50% 100%,rgba(0,0,0,.1) 0,rgba(0,0,0,0) 100%)
}

html[data-theme='dark'] .custom-separator:before {
  border-image-source: linear-gradient(90deg,transparent,rgba(255,255,255,.5) 50%,transparent);
  background: radial-gradient(50% 100% at 50% 100%,rgba(255,255,255,.1) 0,rgba(255,255,255,0) 100%)
}

.custom-separator:after {
  top: 0;
  z-index: 0;
  content: "";
  width: 1000px;
  height: 80px;
  position: absolute;
  left: calc(50% - 500px);
  border-top: 1px solid;
  border-image-source: linear-gradient(90deg,transparent,rgba(0,0,0,.5) 50%,transparent);
  border-image-slice: 1;
  background: radial-gradient(43.9% 100% at 50% 0,rgba(0,0,0,.15) 0,rgba(0,0,0,0) 100%)
}

html[data-theme='dark'] .custom-separator:after {
  border-image-source: linear-gradient(90deg,transparent,rgba(255,255,255,.5) 50%,transparent);
  background: radial-gradient(43.9% 100% at 50% 0,rgba(255,255,255,.15) 0,rgba(255,255,255, 0) 100%)
}

.custom-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr)); /* Para colapsar en una columna en pantallas pequeñas */
  gap: 0.5rem;
}

@media (min-width: 1024px) {
  .custom-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* Cambia a 3 columnas en pantallas grandes (lg) */
  }
}

.dots:before {
  @apply absolute pointer-events-none;
  --dot-color: #d1e4fa;
  --dot-size: 4px;
  background-image: radial-gradient(var(--dot-color) 50%,transparent 50%),radial-gradient(var(--dot-color) 50%,transparent 50%),radial-gradient(var(--dot-color) 50%,transparent 50%),radial-gradient(var(--dot-color) 50%,transparent 50%);
  background-position: 0 0,100% 0,0 100%,100% 100%;
  background-repeat: no-repeat;
  background-size: var(--dot-size) var(--dot-size),var(--dot-size) var(--dot-size),var(--dot-size) var(--dot-size),var(--dot-size) var(--dot-size);
  content: "";
  filter: drop-shadow(0 0 8px c);
  inset: calc(var(--dot-size)*-.5);
}

.card2 {
  background: linear-gradient(180deg,rgba(10,11,12,0) 0%,rgba(255,255,255,0.025) 100%),rgba(255,255,255,.015);
  border-radius: 0.5rem;
  position: relative;
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 32px;
  padding-left: 40px;
  padding-right: 40px;
  isolation: isolate;
  overflow: hidden
}

.card2:before {
  background: linear-gradient(180deg,rgba(255,252,229,0) 0%,rgba(0,0,0,.08) 100%),linear-gradient(0deg,rgba(0,0,0,.05),rgba(0,0,0,.05));
  border-radius: inherit;
  content: "";
  inset: 0;
  -webkit-mask: linear-gradient(#000 0 0) content-box,linear-gradient(#000 0 0);
  mask: linear-gradient(#000 0 0) content-box,linear-gradient(#000 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 1px;
  pointer-events: none;
  position: absolute
}

html[data-theme='dark'] .card2:before {
  background: linear-gradient(180deg,rgba(0,3,26,0) 0%,rgba(255,255,255,.08) 100%),linear-gradient(0deg,rgba(255,255,255,.05),rgba(255,255,255,.05));
  -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
}

.card2:before {
  z-index: 2
}

.card-dots {
  position: absolute;
  pointer-events: none;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between
}

.card-dots:before,.card-dots:after {
  content: "";
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: rgba(0,0,0,.1);
  display: block
}

html[data-theme='dark'] .card-dots:before,.card-dots:after {
  background: rgba(255,255,255,.1);
}



@media (max-width: 1200px) {
  .card2 {
      padding-left: 32px;
      padding-right: 32px
  }
}


.connected-feature-cards {
  margin-top: 48px;
  max-width: 1200px
}

@media (min-width: 1056px) {
  .connected-feature-cards .swiper-wrapper {
      display:grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 24px
  }
}

@media (max-width: 1200px) {
  .connected-feature-cards {
      max-width: 1056px
  }
}

@media (min-width: 712px) and (max-width: 1056px) {
  .connected-feature-cards {
      margin-top: 32px;
      padding: 0 calc(50% - 294px)
  }
}

@media (max-width: 576px) {
  .connected-feature-cards {
      padding:0 calc(50% - 175px)!important
  }
}

.connected-feature-card {
  height: 350px !important
}

.connected-feature-card-dots {
  position: absolute;
  top: 32px;
  left: 40px
}

.connected-feature-card-dots div {
  background: rgba(0,0,0,.1);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute
}

html[data-theme='dark'] .connected-feature-card-dots div {
  background: rgba(255,255,255,.1);
}

.connected-feature-card-dots div:nth-child(1) {
  top: 0;
  left: 0
}

.connected-feature-card-dots div:nth-child(2) {
  top: 0;
  left: 52px
}

.connected-feature-card-dots div:nth-child(3) {
  top: 52px;
  left: 0
}

.connected-feature-card-dots div:nth-child(4) {
  top: 52px;
  left: 52px
}

.connected-feature-card-lines div {
  position: absolute
}

.connected-feature-card-lines div:nth-child(1) {
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,.1) 100%);
  width: 1px;
  left: 67px;
  top: 0;
  height: 33px
}

.connected-feature-card-lines div:nth-child(2) {
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,.1) 100%);
  width: 41px;
  height: 1px;
  top: 60px;
  left: 0
}

.connected-feature-card-lines div:nth-child(3) {
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,.1) 100%);
  width: 289px;
  height: 1px;
  top: 60px;
  left: 95px
}

html[data-theme='dark'] .connected-feature-card-lines div:nth-child(1) {
  background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,.1) 100%);
}
html[data-theme='dark'] .connected-feature-card-lines div:nth-child(2) {
  background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,.1) 100%);
}
html[data-theme='dark'] .connected-feature-card-lines div:nth-child(3) {
  background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,.1) 100%);
}

.connected-feature-card-circles {
  position: absolute;
  top: 32px;
  left: 40px
}

.connected-feature-card-circles div {
  position: absolute;
  border-radius: 9699px
}

.connected-feature-card-circles div:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100%);
  height: calc(100%);
  border-radius: inherit
}

.connected-feature-card-circles div:nth-child(1) {
  background: rgba(0,0,0,.01);
  box-shadow: inset 0 0 5px #0000001a;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px
}

html[data-theme='dark'] .connected-feature-card-circles div:nth-child(1) {
  background: rgba(255,255,255,.01);
  box-shadow: inset 0 0 5px #ffffff1a;
}

.connected-feature-card-circles div:nth-child(1):before {
  border: 1px solid rgba(0,0,0,.05)
}

html[data-theme='dark'] .connected-feature-card-circles div:nth-child(1):before {
  border: 1px solid rgba(255,255,255,.05)
} 

.connected-feature-card-circles div:nth-child(2) {
  background: linear-gradient(180deg,rgba(0,0,0,0) 0%,rgba(0,0,0,.12) 100%);
  top: 9.5px;
  left: 9.5px;
  width: 37px;
  height: 37px
}

html[data-theme='dark'] .connected-feature-card-circles div:nth-child(2) {
  background: linear-gradient(180deg,rgba(255,255,255,0) 0%,rgba(255,255,255,.12) 100%);
}

.connected-feature-card-circles div:nth-child(2):after {
  background: conic-gradient(from 27.76deg at 50% 50%,#000 0deg,rgba(0,0,0,0) 35.42deg,rgba(0,0,0,0) 360deg),conic-gradient(from 202.83deg at 50% 50%,#000 0deg,rgba(0,0,0,0) 35.42deg,rgba(0,0,0,0) 360deg);
  border-radius: inherit;
  content: "";
  inset: 0;
  -webkit-mask: linear-gradient(#000 0 0) content-box,linear-gradient(#000 0 0);
  mask: linear-gradient(#000 0 0) content-box,linear-gradient(#000 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 1px;
  pointer-events: none;
  position: absolute
}

html[data-theme='dark'] .connected-feature-card-circles div:nth-child(2):after {
  background: conic-gradient(from 27.76deg at 50% 50%,#FFF 0deg,rgba(255,255,255,0) 35.42deg,rgba(255,255,255,0) 360deg),conic-gradient(from 202.83deg at 50% 50%,#FFF 0deg,rgba(255,255,255,0) 35.42deg,rgba(255,255,255,0) 360deg);
}

.connected-feature-card-circles div:nth-child(2):before {
  border: 1px solid rgba(0,0,0,.1)
}

html[data-theme='dark'] .connected-feature-card-circles div:nth-child(2):before {
  border: 1px solid rgba(255,255,255,.1)
}

.connected-feature-card-circles div:nth-child(2):after {
  animation: connected-feature-card-rotate 10s linear infinite;
  opacity: .6
}

.connected-feature-card:nth-child(2) .connected-feature-card-circles div:nth-child(2):after {
  transform: rotate(90deg)
}

.connected-feature-card:nth-child(3) .connected-feature-card-circles div:nth-child(2):after {
  transform: rotate(180deg)
}

@keyframes connected-feature-card-rotate {
  to {
      transform: rotate(-1turn)
  }
}

@media (max-width: 1200px) {
  .connected-feature-card {
      height: fit-content;
  }
}

.connected-feature-cards:not(.connected-feature-cards-visible) .connected-feature-card-circles div:nth-child(2):after {
  animation-play-state: paused
}

main .card2 svg {
  fill: #000;
}

html[data-theme='dark'] main .card2 svg {
  fill: #fff;
}

.NotificationAsset_root__FE0I_ {
  --base-x: 10%;
  --base-z: 140px;
  /* --base-z: 0; */
  --y: 0;
  --c: 40;
  --z: 0;
  /* aspect-ratio: 432 / 320; */
  aspect-ratio: 210 / 320;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  width: 100%;
  contain: strict;
  isolation: isolate;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: relative;
  --green: #68cc58;
  --green-dim: #68cc5840;
  --orange: #f2994a;
  --orange-dim: #f2994a40;
  --red: #c52828;
  --red-dim: #c5282840;
}

.NotificationAsset_root__FE0I_:after {
  content: "";
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: 1;
  background: linear-gradient(to bottom,var(--ifm-background-color) 0,transparent 30%),linear-gradient(to right,transparent 60%,var(--ifm-background-color) 100%)
}

.NotificationAsset_cards__ACT0z {
  width: 100%;
  height: 100%;
  perspective: 2000px;
  perspective-origin: 50%
}

.NotificationAsset_card__KoMdR {
  position: absolute;
  inset: 0;
  margin: auto;
  height: -moz-fit-content;
  height: fit-content;
  width: 500px;
  isolation: isolate;
  contain: paint;
  overflow: hidden;
  white-space: nowrap;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid hsla(0,0%,100%,.1);
  padding: 16px
}

.NotificationAsset_root__FE0I_ .NotificationAsset_card__KoMdR {
  transform: translateZ(var(--z)) translateX(var(--x)) translateY(var(--y))
}

.NotificationAsset_root__FE0I_ .NotificationAsset_card__KoMdR:first-child {
  --x: 10%;
  --y: -60%;
  --z: 0;
  background: rgba(var(--c),var(--c),var(--c),.2)
}

.NotificationAsset_root__FE0I_ .NotificationAsset_card__KoMdR:nth-child(2) {
  --x: 5%;
  --y: -35%;
  --z: 0;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  background: rgba(var(--c),var(--c),var(--c),.2)
}

.NotificationAsset_root__FE0I_ .NotificationAsset_card__KoMdR:last-child {
  --x: 0;
  --y: 0;
  --z: 0;
  background: rgba(var(--c),var(--c),var(--c),.4)
}

.NotificationAsset_root__FE0I_ .NotificationAsset_card__KoMdR:last-child .NotificationAsset_cardInner__V4DL_ {
  opacity: 1;
  filter: none
}

.NotificationAsset_root__FE0I_.NotificationAsset_iso__WK2oW .NotificationAsset_card__KoMdR {
  transform: skewY(-4deg) rotateX(-14deg) rotateY(20deg) translateZ(var(--z)) translateX(var(--x)) translateY(var(--y));
  transform-style: preserve-3d;
  transition: .32s cubic-bezier(0.25,0.46,0.45,0.94);
  transition-property: transform, background
}

.NotificationAsset_root__FE0I_.NotificationAsset_iso__WK2oW .NotificationAsset_card__KoMdR:first-child {
  --x: calc(var(--base-x) + 3%);
  --y: -15%;
  --z: calc(-1 * var(--base-z));
  background: rgba(var(--c),var(--c),var(--c),.2)
}

.NotificationAsset_root__FE0I_.NotificationAsset_iso__WK2oW .NotificationAsset_card__KoMdR:nth-child(2) {
  --x: var(--base-x);
  --y: -15%;
  --z: 0;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  background: rgba(var(--c),var(--c),var(--c),.2)
}

.NotificationAsset_root__FE0I_.NotificationAsset_iso__WK2oW .NotificationAsset_card__KoMdR:last-child {
  --x: calc(var(--base-x) - 3%);
  --y: -15%;
  --z: var(--base-z);
  background: rgba(var(--c),var(--c),var(--c),.4)
}

.NotificationAsset_root__FE0I_.NotificationAsset_iso__WK2oW .NotificationAsset_card__KoMdR:last-child .NotificationAsset_cardInner__V4DL_ {
  opacity: 1;
  filter: none
}

@media (any-hover: hover) {
  .NotificationAsset_root__FE0I_.NotificationAsset_iso__WK2oW .NotificationAsset_card__KoMdR:hover {
      background:hsla(0,0%,100%,.08)
  }

  .NotificationAsset_root__FE0I_.NotificationAsset_iso__WK2oW .NotificationAsset_card__KoMdR:hover .NotificationAsset_cardInner__V4DL_ {
      opacity: 1;
      filter: none
  }

  .NotificationAsset_root__FE0I_.NotificationAsset_iso__WK2oW .NotificationAsset_card__KoMdR:hover:first-child {
      --y: -40%
  }

  .NotificationAsset_root__FE0I_.NotificationAsset_iso__WK2oW .NotificationAsset_card__KoMdR:hover:nth-child(2) {
      --y: -30%
  }

  .NotificationAsset_root__FE0I_.NotificationAsset_iso__WK2oW .NotificationAsset_card__KoMdR:hover:last-child {
      --y: -25%
  }
}

.NotificationAsset_root__FE0I_.NotificationAsset_iso__WK2oW:has(.NotificationAsset_card__KoMdR:hover)>.NotificationAsset_card__KoMdR:not(:hover) {
  background: rgba(var(--c),var(--c),var(--c),.1)
}

.NotificationAsset_root__FE0I_.NotificationAsset_iso__WK2oW:has(.NotificationAsset_card__KoMdR:hover)>.NotificationAsset_card__KoMdR:not(:hover) .NotificationAsset_cardInner__V4DL_ {
  filter: grayscale(1);
  opacity: .2
}

.NotificationAsset_cardInner__V4DL_ {
  opacity: .2;
  filter: grayscale(1);
  transition: .32s cubic-bezier(0.25,0.46,0.45,0.94);
  transition-property: opacity
}

.home_header_back-wrap {
  object-fit: fill;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  inset: 0%;
  z-index: -100;
}

.home_header_back {
  z-index: 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.home_header_back1 {
  opacity: .25;
  background-image: radial-gradient(circle closest-side, var(--ifm-background-color), var(--ifm-background-color) 90%);
  width: 74.0172rem;
  height: 65.7931rem;
  position: absolute;
  bottom: auto;
  right: auto;
  transform: translate(-4rem);
}

.home_header_back2 {
  opacity: .3;
  background-image: radial-gradient(circle closest-side, var(--ifm-background-color), var(--ifm-background-color) 86%);
  width: 74.0172rem;
  height: 65.7931rem;
  position: absolute;
  bottom: auto;
  right: auto;
  transform: translate(24rem, 10rem);
}

.home_header_back3 {
  opacity: .22;
  background-image: radial-gradient(circle closest-side, var(--ifm-background-color), var(--ifm-background-color) 86%);
  width: 74.0172rem;
  height: 65.7931rem;
  position: absolute;
  bottom: auto;
  right: auto;
  transform: translate(-20rem, 10rem);
}

@media (min-width: 997px) {
  #__docusaurus .docItemCol_node_modules-\@docusaurus-theme-classic-lib-theme-DocItem-Layout-styles-module {
      max-width: var(--ifm-col-width) !important;
  }
}

.docs-doc-id-intro .theme-doc-breadcrumbs {
  display: none;
}

@media (min-width: 997px) {
.docMainContainer_node_modules-\@docusaurus-theme-classic-lib-theme-DocRoot-Layout-Main-styles-module {
  padding: 0 20px;
}
}